<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sh.shchecklist">

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sh.shchecklist.main.MainActivity"
                   android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sh.shchecklist.check.CheckActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>

        <activity
            android:name="com.sh.shchecklist.common.ExplorerActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>

        <activity
            android:name="com.sh.shchecklist.dialog.SortDialog"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
        </activity>

        <activity
            android:name="com.sh.shchecklist.dialog.DescriptionDialog"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
        </activity>

        <activity
            android:name="com.sh.shchecklist.widget.WidgetMemoDialog"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
        </activity>

        <receiver android:name="com.sh.shchecklist.widget.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.ACTION_CALL_APPLICATION"/>
                <action android:name="android.appwidget.action.ACTION_CREATE_MEMO_DIALOG"/>
                <action android:name="android.appwidget.action.ACTION_CREATE_DESCRIPTION_DIALOG"/>
                <action android:name="android.appwidget.action.ACTION_WIDGET_CHANGE_LIST" />
                <action android:name="android.appwidget.action.ACTION_WIDGET_UPDATE_LIST" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_configuration" />
        </receiver>

        <service
            android:name="com.sh.shchecklist.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>